.header-container {
    background: #ffc300;
}

.header {
    text-align: center;
}

.header > .logo {
    height: 96px;
    width: 96px;
    margin-left: 16px;
    margin-right: 16px;
}

.header > h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: 96px;
    font-weight: bold;
}

.play-category h3 {
    font-weight: bold;
    margin: 0;
}

.play-list {
    font-size: 1.2em;
    margin-top: 16px;
    margin-bottom: 16px;
}

.play-list > div.checkbox {
    margin-top: 0;
}

.play-list > div.checkbox.team-fielding {
    color: #002b65;
}

.play-list > div.checkbox.team-batting {
    color: #bf3626;
}

.play-list > div.checkbox > label {
    font-weight: bold;
}
.btn-flag-correct {background-color: #007f00;font-size: 16px;text-align: center;font-weight: bold;border-radius: 18px;padding: 5px 15px;color: white;} /* Green */
.btn-flag-wrong {background-color: #bf3626;font-size: 16px;text-align: center;font-weight: bold;border-radius:18px;padding: 5px 15px;color: white;} /* Red */
.btn-start-treasurehunt{background-color: #007f00;font-size: 18px;text-align: center;font-weight: bold;border-radius: 18px;padding: 5px 15px; color: white;}
.btn-stop-treasurehunt{background-color: #bf3626;font-size: 18px;text-align: center;font-weight: bold;border-radius: 18px;padding: 5px 15px; color: white;}