.header-container {
    background: #ffc300;
}

.header {
    text-align: center;
}

.header > .logo {
    height: 96px;
    width: 96px;
    margin-left: 16px;
    margin-right: 16px;
}

.header > h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: 96px;
    font-weight: bold;
}

.play-category h3 {
    font-weight: bold;
    margin: 0;
}

.play-list {
    font-size: 1.2em;
    margin-top: 16px;
    margin-bottom: 16px;
}

.play-list > div.checkbox {
    margin-top: 0;
}

.play-list > div.checkbox.team-fielding {
    color: #002b65;
}

.play-list > div.checkbox.team-batting {
    color: #bf3626;
}

.play-list > div.checkbox > label {
    font-weight: bold;
}